In [8]:
import pandas as pd
import numpy as np

meta = pd.read_csv ('/modules/cs342/Assignment2/training_set_metadata.csv',header=0)
ss = pd.read_csv('/modules/cs342/Assignment2/sample_submission.csv',header=0)

In [151]:
arr = meta.loc[meta["hostgal_photoz"] == 0.0].target.unique()
galF=1.0/5.0
exF = 1.0/10.0

In [143]:
testSet = pd.read_csv('/modules/cs342/Assignment2/test_set_metadata.csv',header=0)

In [144]:
galObj = testSet.loc[testSet["hostgal_photoz"] == 0.0].object_id.unique()
extObj = testSet.loc[testSet["hostgal_photoz"] != 0.0].object_id.unique()

In [165]:
sss= ss.copy()

classes = ss.columns.values.tolist()
classes.remove("object_id")
galClass = ["class_" + str(cnum) for cnum in arr.tolist()]
extClass = [x for x in classes if x not in galClass]

df1 = sss.loc[sss['object_id'].isin(galObj)]
df1[galClass] = galF

In [166]:
df1

0          False
1          False
2          False
3          False
4          False
5          False
6          False
7          False
8          False
9          False
10         False
11         False
12         False
13         False
14         False
15         False
16         False
17         False
18         False
19         False
20          True
21         False
22         False
23         False
24         False
25         False
26         False
27         False
28         False
29         False
           ...
3492860    False
3492861    False
3492862    False
3492863    False
3492864     True
3492865    False
3492866    False
3492867    False
3492868     True
3492869    False
3492870    False
3492871    False
3492872     True
3492873    False
3492874    False
3492875    False
3492876    False
3492877    False
3492878    False
3492879     True
3492880    False
3492881     True
3492882     True
3492883    False
3492884    False
3492885    False
3492886    False
3492887    False
3492888    False
3492889    False
Name: object_id, dtype: bool

In [130]:
print galObj

[      168      1063      2270 ..., 130787879 130787903 130787932]